---
import Button from "./Button.astro";
import Link from "./Link.astro";
---

<nav class="flex justify-between w-full bg-gray-50 p-8">
  <h2>Travel Stories</h2>
  <div class="flex space-x-4 items-center">
		<Link href="/donate">Donate</Link>
		<Link href="/about-us">About Us</Link>
		<Button filled>Sign Up</Button>
		<Button>Sign In</Button>
  </div>
</nav>
<div class="h-1 bg-gradient-to-r from-orange-500 to-sky-700"></div>
